@model List<ProductViewModel>
@using Microsoft.Extensions.Localization
@using ProductShop.Controllers 
@inject IStringLocalizer<HomeController> Localizer

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <div class="row">

        <div class="offset-2 col-8">
            <h1 class="text-center">Список товарів @Localizer["Email"];</h1>
            <a asp-action="Add" class="btn btn-success mb-3">Додати</a>

            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Назва @ViewBag.Email</th>
                        <th scope="col">Ціна</th>
                        <th scope="col">Фотографії</th>
                        <th scope="col">Інструменти</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td scope="row">@product.Name</td>
                            <td>₴ @product.Price</td>
                            <td>
                                <div class="container-fluid">
                                    <div class="row">
                                        @foreach (var image in product.Images)
                                        {
                                            <div class="col-2 ms-2">
                                                <img src="/images/@image.Path" width="100%" />
                                            </div>
                                        }
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="container d-flex align-items">

                                    <div class="mx-auto my-auto">
                                        <span class="text-danger deleteitem" data-element="@product.Id"><i class="fas fa-trash-alt fa-lg"></i></span>
                                    </div>
                                    <div class="mx-auto my-auto">
                                        <a asp-controller="Home" asp-action="Edit" asp-route-idproduct="@product.Id"
                                           class="text-danger deleteitem"><i class="fas fa-edit fa-lg"></i></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/axios/axios.min.js"></script>
    <script>
        $(function () {
            $(".deleteitem").on("click", function (e) {
                //console.log(e.target);
                var id = $(e.target).closest("span").attr("data-element");
                axios.post(`/Home/Delete/${id}`)
                    .then(result => {
                        return new Promise((resolve, reject) => {
                            var $divItem = $(e.target).closest("tr");
                            $divItem.remove();

                            resolve();
                        });
                    });
            });
        });
    </script>

}